RELEASE-VERSION
.idea
*.pyc
*~
*.json
.idea/
*.ipynb_checkpoints
docs/build
!test/json/test_affine_settings.json
!test/json/test_svf_settings.json
!mermaid_demos/2d_example_synth/*
!test_rddmm_shooting_map_multi_scale_config.json
!test_rddmm_shooting_map_single_scale_config.json
!test_rddmm_shooting_map_multi_scale_config_tobe.json
docs/build
