cxx_compiler:
  - clang_bootstrap  # [osx]
  - gxx              # [linux]
  - vs2017           # [win]

c_compiler:
  - clang_bootstrap  # [osx]
  - gcc              # [linux]
  - vs2017           # [win]

vc:
  - 14

python:
  - 3.7

numpy:
  - 1.17

c_compiler_version:     # [osx]
  - "*"                 # [osx]

cxx_compiler_version:   # [osx]
  - "*"                 # [osx]