numpy>=1.17
pynrrd
future
cython
scikit-image
tabulate
termcolor
cffi
itk
torch>=1.7
torchvision
pandas
matplotlib
scipy
openpyxl
sphinx-gallery==0.3.1
sphinx
nbsphinx
pandoc
pypandoc
statsmodels
progressbar2
